<div class="flex justify-center items-center h-[90vh]">
  <mat-card class="card" appearance="outlined">
    <div class="flex justify-between items-center gap-2 pb-2">
      <div class="pl-4 text-xl">
        <span>{{ 'Sign In' }}</span>
      </div>
      <div>
        <button mat-icon-button (click)="navigateToLMain()">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-content>
      <form [formGroup]="myForm">
        <div class="grid grid-cols-1 gap-4">
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>User</mat-label>
              <input type="text" matInput formControlName="username">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" hideRequiredMarker="true" class="input">
              <mat-label>Email</mat-label>
              <input type="text" matInput formControlName="email">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <div class="flex justify-center">
        <div>
          <ng-container *ngIf="!loading; else loadingTemplate">
            <button mat-raised-button color="primary" (click)="signIn()" [disabled]="myForm.invalid" type="submit">
              Sign in
            </button>
          </ng-container>
          <ng-template #loadingTemplate>
            <button class="w-[83px]" mat-raised-button color="primary" [disabled]="true" type="submit">
              <mat-spinner [diameter]="22"></mat-spinner>
            </button>
          </ng-template>
        </div>

      </div>
    </mat-card-footer>
  </mat-card>
</div>
